<table cellpadding="0" width="100%">
<tbody>
<tr>
<td valign="center" align="center" width="15%"><%= link_to "Edit", edit_note_path(object.id) %> <%= link_to "Delete", note_path(object.id), method: :delete, data: {confirm: "Sure?" } %></td>
<td valign="center" align="left"><h3><%= object.description %></h3></td>
</tr>
</tbody>
</table>