<li id="move_<%= object.id %>" id='move_item'>
  <div class="panel panel-default">
    <div class="panel-heading">
      <table id="interesting-content" width="100%">
        <tr>
          <td valign="center" align="left" width="18%" style="padding-left:20px; padding-right:20px;">
            <center><h5><%= object.name %></h5></center>
          </td>
          <td valign="center" align="left" width="82%">
            <h1><%= object.description %></h1>
          </td>
        </td>
      </tr>
    </table>
  </div>
</div>
</li>