<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid" id="tabs">
    <ul class="navbar-left">
      <ul class="breadcrumb list-inline">
        <li id="topnav-bcrumb" class="active">Games</li>
        <li id="topnav-bcrumb">
          <small>
            <input id="search_field" name="search_field" placeholder="Search" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search'" >
          </small>
        </li>
      </ul>
    </ul>
    <ul class="navbar-right">
      <div id="edit-button" class='row text-center'>
        <a class="btn newBtn" >New</a>
        <a class="btn editBtn">Edit</a>
      </div>
    </ul>
  </div>
</nav>
<div id="new-data-fields" class="" readonly>
  <form role="form">
    <ul>
      <%= render partial: 'form' %>
    </ul>
  </form>
</div>
<div id="existing-data-fields" class="">
  <form role="form">
    <ul>
      <% @games.each do |game| %>
        <%= render partial: 'game', locals: {game: game}  %>
      <% end %>
    </ul>
  </form>
</div>