<p><%= character.name %> <%= character.description %></p>
<p><%= link_to "Edit", edit_character_path(character.id) %> <%= link_to "Delete", character_path(character.id), method: :delete, data: {confirm: "Sure?" } %> </p>