ul,
menu,
dir {
    display: block;
    list-style-type: none;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

ul {
    padding-left: 30px;
    padding-right: 30px;
}

.nav-pills>li>a {
    background-color: #333;
}

#my-pills {
    padding-top: .4em;
}

.breadcrumb {
    background-color: black !important;
    padding-left: 0px !important;
}

.breadcrumb li a {
    text-decoration: none;
}

a:-webkit-any-link {
    color: -webkit-link;
    text-decoration: none;
    cursor: auto;
}

table a:not(.btn),
.table a:not(.btn) {
    color: #fff;
    text-decoration: none !important;
}

#topnav-bcrumb {
    font-size: 1.8em;
    color: #fff;
}

#topnav-bcrumb:hover {
    color: #2a9fd6;
}

#topnav-bcrumb.active {
    color: #2a9fd6;
    font-style: bold;
}

.vmiddle {
    display: inline-block;
    vertical-align: middle;
    float: none !important;
}

@media (min-width: 768px) {
    body {
        padding-top: 5em;
        padding-bottom: 2em;
    }
    .navbar-left {
        padding-top: .8em;
    }
}

[data-url]:not(.editing) h1:hover {
    color: #2a9fd6;
}

[data-url] h1 {
    padding-left: 10px;
}

#new-game h1 {
    padding-left: 10px;
}

[data-url] input {
    background-color: inherit;
    color: inherit;
    border: none;
}

#new-game input {
    background-color: inherit;
    color: inherit;
    border: none;
}

h4 {
    background-color: inherit;
    color: inherit;
    border: none;
}

h4 input {
    background-color: inherit;
    color: inherit;
    border: none;
}

.input-group {
    width: 100%;
}

#delete-button:not(.editing) {
    display: none;
}

.panel-heading [data-toggle="collapse"]:after {
    font-family: 'Glyphicons Halflings';
    content: "\e072";
    float: right;
    color: #b0c5d8;
    font-size: 18px;
    line-height: 22px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.panel-heading [data-toggle="collapse"].collapsed:after {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.container-fluid {
    height: 5em;
}

nav {
    height: 4.65em;
    margin-bottom: 0px !important;
}

.panel {
    margin-top: 6px !important;
    margin-bottom: 6px !important;
}

.panel-group {
    background-color: inherit !important;
}

.panel-default>.panel-heading {
    background-color: inherit !important;
}

.panel-heading {
    padding-top: 1px !important;
    padding-right: 1px !important;
    padding-bottom: 1px !important;
    padding-left: 1px !important;
}

.panel-heading [data-toggle="collapse"]:after {
    color: #2a9fd6;
}

#edit-button a {
    border: 2px solid #2a9fd6;
    text-decoration: none;
}

#edit-button a:visited {
    border: 2px solid #2a9fd6;
    text-decoration: none;
    color: #2a9fd6;
}

#delete-button a:visited {
    text-decoration: none;
    color: white;
}

#edit-button a:hover {
    color: white;
}

#edit-button .active {
    color: white;
    background-color: #2a9fd6;
}

#edit-button {
    padding-top: 15px;
    padding-right: 30px;
}

#existing-data-fields.adding {
    display: none;
}

#new-data-fields:not(.adding) {
    display: none;
}
